div {
    text-align: center;
    justify-content: center;
}

.body{
    width: 100%;
    height: 640px;
    font-size: 103%;
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    background-color:#141C2F;
    height: 22%;
    width: 99%;
    border: 1px solid #141C2F;
    color: #B4BBCB;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* font-size: 160%; */
}

.navbar {
    width: 33%;
    float: left;
    height: 73%;
}

.emptySpace {
    display: flex;
    justify-content: ce;
    align-content: center;
    flex-direction: column;
    background-color: #B5BBCB;
    width: 64%;
    float: left;
    height: 72.85%;
    border: 1px solid #141C2F;
    border-top: 0px solid black;
    padding-inline: 1%;
}

.about, .history, .achievements {
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 33.15%;
    background-color: #969EB1;
    border-bottom: 1px solid #141C2F;
    border-left: 1px solid #141C2F;
}



.bottom {
    clear: left;
    background-color: #363F4E;
    height: 5%;
    border-left: 1px solid #141C2F;
    border-bottom: 1px solid #141C2F;
    width: 99%;
    border-right: 1px solid #141C2F;
    color: #B5BBCB;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}